html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#container{
    height: 100%;
}
html, body {
    height: auto;
}
.msg_container{
	float:left;
}
.btn_container{float:left;clear:right;}
